*{ box-sizing: border-box;}
article,aside,canvas,figure,figcaption,footer,header,nav,section,audio,video,h1,h2,h3,h4,h5,h6,ul,ol,p {margin: 0;padding: 0;border: 0;}
a,button,input[type="submit"] {-webkit-transition: all 300ms ease-in-out;transition: all 300ms ease-in-out;text-decoration: none;font-style: normal;}
img {max-width: 100%;height: auto;}
ul,ol {list-style: none;}
a:hover { text-decoration: none;}

body {margin: 0; padding: 0; min-height: 100%;font-weight: 400;font-family: 'Ubuntu', sans-serif;font-size: 16px;color: #7b8699;}

.top{border-bottom: 1px solid #cdcdcd; position: fixed; width: 100%; text-align: right; background-color: #fff; z-index: 4;}
.contact_link{padding: 11px 35px;}
.contact_link a{text-decoration: none; color: #000; font-size: 16px; font-weight: 500;}
.top_contact{padding-right: 6px; border-right: 1px solid #000;}
.top_email{padding-left: 6px;}
.main_header { background-color: #fff; width: 100%; display: flex; align-items: center; position: fixed; left: 0; top: 0; z-index: 4; padding: 0 37px; height: 90px;}
.logo {padding: 0 37px 0 0;}
.logo a { display: block; width: 150px; aspect-ratio: 147/56;}
.logo a img { aspect-ratio: 147/56;}
.menu_icon { display: none;}
.right_header { display: flex; width: 100%; justify-content: space-between; align-items: center;}


.header_nav { background-color: #EFEFEF; border-right: 1px solid #cdcdcd; border-left: 1px solid #cdcdcd;}
.header_nav > ul { display: flex;font-family: 'Ubuntu', sans-serif;position: relative;}
.header_nav > ul > li { position: relative;}
.header_nav > ul > li:after {content: ""; border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #41236f; position: absolute; left: 50%; transform: translateX(-50%); bottom: 0; display: none;}
.header_nav > ul > li > a { display: block; color: #000;font-size: 16px;text-transform: uppercase;font-weight: 600; padding: 36px 16px;}
.header_nav > ul > li:hover > a {color: #f07d00;}
.header_nav > ul > li:first-child > a { padding-left: 35px;}
.header_nav > ul > li:last-child > a { padding-right: 35px;}
.header_nav > ul > li > ul { opacity: 0; visibility: hidden; transform: scaleY(0);transform-origin: 0 0 0;transition: all .5s ease 0s; position: absolute; left: 0; top: 89px; width: 232px; background-color: #41236f;z-index: 1;padding: 0;box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.59);font-family: 'Ubuntu', sans-serif;}
.header_nav > ul > li:last-child > ul {left: inherit; right: 0;}
.header_nav > ul > li:hover > ul { opacity: 1; visibility: visible;transform: scaleY(1);}
.header_nav > ul > li.submenu:hover:after { display: block;}
.header_nav > ul > li > ul > li { position: relative; padding: 0 20px;border-bottom: 1px solid rgba(255,255,255,0.2);}
.header_nav > ul > li > ul > li:last-child {border-bottom:0;}
.search_project {display: block;background-image: url(../images/search.png);background-repeat: no-repeat;background-position: 0 20px;
line-height: 20px;text-transform: uppercase;font-size: 12px;color: #FFF;padding: 20px 0 20px 30px;}
.header_nav > ul > li > ul > li.search_project a { padding: 0;}
.header_nav > ul > li > ul > li > a {padding: 14px 5px;font-size: 13px;color: #ece6f5;font-weight: 400;display: inline-block; width: calc(100% - 4px); font-size: 14px;}
.header_nav ul li ul li:hover {background-color:#533285;}


.header_nav > ul > li > ul > li.active {background-color: #533285;}

.header_nav > ul > li > ul > li > ul {opacity: 0; visibility: hidden; transform: scaleX(0);transform-origin: 0 0 0;transition: all .5s ease 0s; position: absolute; right: -100%; top: 0; width: 232px;background-color:#533285;z-index: 1;font-family: 'Ubuntu', sans-serif;}
.header_nav > ul > li > ul > li:hover > ul { opacity: 1; visibility: visible;transform: scaleX(1);}
.header_nav > ul > li > ul > li > ul > li { padding: 0 20px; position: relative;border-bottom: 1px solid rgba(255,255,255,0.2);}
.header_nav > ul > li > ul > li > ul > li:last-child { border: 0;}
.header_nav > ul > li > ul > li > ul > li > a {padding: 14px 0;font-size: 13px;color: #ece6f5;font-weight: 400;display: inline-block; width: calc(100% - 4px); font-size: 14px;}
.header_nav > ul > li > ul > li > ul > li:hover { background-color: #5a417e;}

.second_menu > a:after {content: "";border: solid #ece6f5;border-width: 0 1px 1px 0;display: inline-block;padding: 3px;position: absolute;
right: 15px;top: 20px;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);transition: all 500ms;}

.header_nav > ul > li.mega { position: static;}
.header_nav > ul > li.mega:after { left: 30%;}
.header_nav > ul > li.mega > ul { width: 100%; min-height: 490px;}
.header_nav > ul > li.mega > ul > li {border-right: 1px solid rgba(255,255,255,0.2); width: 170px;}
.header_nav > ul > li.mega > ul > li:after {content: ""; border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-left: 10px solid #674f8c; margin-right: -39px; margin-bottom: -6px; width: 0; height: 0; display: none;}

.header_nav > ul > li.mega > ul > li > ul {position: absolute; top: 25px; left: 210px;width: 400px; padding: 0 15px; flex-wrap: wrap; display: none;}

.header_nav > ul > li.mega > ul > li.active > ul { display: flex;}
.header_nav > ul > li.mega > ul > li.active:after { display: inline-block;}
.header_nav > ul > li.mega > ul > li > ul > li {width: 46%;min-width: 46%;border-bottom: 1px solid rgba(255,255,255,0.2);margin: 0 2%;}
.header_nav > ul > li.mega > ul > li > ul > li a {padding: 10px 3px;font-size: 13px;color: #ece6f5;font-weight: 400;display: block; font-size: 14px;}
.header_nav > ul > li.mega > ul > li > ul > li a span { display: block; font-size: 12px; font-weight: 300;}
.header_nav > ul > li.mega > ul > li.search_project:after { display: none;}
.header_nav > ul > li.mega > ul > li.search_project:hover { background-color: transparent;}

.header_contact { display: flex; align-items: center;}
.quick_contact { display: flex; align-items: center;}
.phone_icon { width: 40px; min-width: 40px;}

.r_contact a { display: block; line-height: 15px;}
.s_enq {font-size: 14px;color: #f07d00;}
.p_no {font-size:12px; color:#2F2F2F}
.h_mail {font-size: 14px;color: #f07d00;}

.h_social { display: flex; margin-left: 20px;}
.h_social li { padding: 0 10px;}
.h_social li a { display: block; width: 23px; height: 23px; display: flex; justify-content: center; align-items: center;}
.h_social li:nth-child(1) a { color: #07227a; font-size: 10px;}
.h_social li:nth-child(2) a { color: #13adf4; font-size: 10px;}
.h_social li:nth-child(3) a { color: #e91717; font-size: 10px;}
.h_social li:nth-child(4) a { color: #2a90c8; font-size: 10px;}



.main_content { padding-top: 91px;}
/* .content_top { height: calc(100vh - 91px); overflow: hidden;} */
.content_top_inner { display: flex; height: 100%;}
.main { width: 83.333333333333333%; min-width: 83.333333333333333%;}


/* .big_slider .owl-item { aspect-ratio: 983/589;}
.big_slider .item { aspect-ratio: 983/589;} */
/* .content_top_inner {aspect-ratio: 983 / 589;} */
.big_slider .item a { display: block; position: relative;}
.main_banner_caprion {position: absolute;left: 7%;bottom: 20%;color: #FFF;font-size: 18px;font-weight: 400; text-transform: uppercase;text-shadow: 0 0 4px rgba(0,0,0,0.4);}
.main_banner_caprion strong { display: block;font-size: 38px; line-height: 44px; font-weight: 700; }
.big_slider .owl-dots {position: absolute;right: 10%;bottom: 20%; display: flex; justify-content: flex-end;}
.big_slider .owl-dots .owl-dot { width: 13px; min-width: 13px; height: 13px; margin: 0 2px; border-radius: 50%; border: 0; outline: none; font-size: 0; background-color: #fff;box-shadow: 0 0 2px rgba(0,0,0,0.3);}
.big_slider .owl-dots .owl-dot.active { background-color: #f07d00;}



.side_sliders {width: 16.66666666666667%; min-width: 16.66666666666667%; height: 100%;background: rgb(34, 13, 66);}
.side_block { height: 50%; overflow: hidden; position: relative;}
.side_block h2 {height: 64px;line-height: 64px;text-transform: uppercase;color: rgb(249, 170, 0);font-size: 15px;font-weight: 700;
padding: 0px 18px;}
.side_block_img {display: block;}
.mob_img { display: none;}
.side_block_img img { width: 100%;}
.img_cap { background-color: rgba(0,0,0,0.3); width: 100%; position: absolute; left: 0; bottom: 0; padding: 7px 18px;display: block;font-size: 12px;color: rgb(255, 255, 255);font-weight: 400;font-family: "Open Sans", sans-serif;}
.img_cap em { display: block; font-style: normal;}
.img_cap strong { display: block; font-size: 14px;text-transform: uppercase;font-weight: 700;font-family: 'Open Sans', sans-serif;}
.img_cap strong.more {font-size: 13px; cursor: pointer; padding-right: 15px; font-style: italic;font-weight: 400; position: relative; display: inline-block;transition: all 0.5s ease;}
.img_cap strong.more:after {content: "";width: 10px;height: 9px;position: absolute;right: 0px;top: 5px;background: url(../images/arrow-white.png) 100% 1px no-repeat;transition: all 0.5s ease 0s;}
.img_cap strong.more:hover {color: rgb(249, 170, 0); padding-right: 20px;}
.img_cap strong.more:hover:after {width: 15px; right: 0px;}

.img_cap a { display: block; font-size: 14px;text-transform: uppercase;font-weight: 700;font-family: 'Open Sans', sans-serif;}
.img_cap a.more {font-size: 13px; cursor: pointer; padding-right: 15px; font-style: italic;font-weight: 400; position: relative; display: inline-block;transition: all 0.5s ease;}
.img_cap a.more:after {content: "";width: 10px;height: 9px;position: absolute;right: 0px;top: 5px;background: url(../images/arrow-white.png) 100% 1px no-repeat;transition: all 0.5s ease 0s;}
.img_cap a.more:hover {color: rgb(249, 170, 0); padding-right: 20px;}
.img_cap a.more:hover:after {width: 15px; right: 0px;}

.f_slider .item a .img_cap {  position: relative; background-color: transparent;}
.f_slider .owl-nav { position: absolute; top: -44px; right: 5px;}
.f_slider .owl-nav .owl-prev span { color: #fff; font-size: 18px; width: 15px; height: 20px; line-height: 20px; display: block;}
.f_slider .owl-nav .owl-next span { color: #fff; font-size: 18px; width: 15px; height: 20px; line-height: 20px; display: block;}

.content_bottom_inner { display: flex; flex-wrap: wrap;}
.bottom_left { width: 50%; min-width: 50%; background: url(../images/bg.jpg) repeat left top; padding: 35px 40px;}
.bottom_left h2 {text-transform: uppercase;font-size: 18px;color: #41236f;font-weight: 500;padding-bottom: 15px;margin-bottom: 20px;position: relative;}
.bottom_left h2:after {content: '';display: block;width: 95px;border-bottom: 1px solid #41236f;position: absolute;left: 0;bottom: 0;}
.form_row { display: flex; flex-wrap: wrap; margin: 0 -10px;}
.form_block { width: 50%; min-width: 50%; padding: 0 10px; margin-bottom: 10px;}
.custom_select { position: relative;}
/*.custom_select:before {content: "";display: block;height: 36px;pointer-events: none;position: absolute;right: 11px;top: 1px;width: 24px;}
 .custom_select:after {color: #3a3a3a;content: url(../images/select-ic.png);font: 14px "Consolas",monospace;padding: 0 4px 4px;pointer-events: none;position: absolute;background-color: #fff;right: 14px;top: 9px;} */
 .custom_select textarea.select_box { height: 80px; padding: 10px 10px; line-height: 15px; resize: none;}
 .form_block.w_100 { width: 100%; min-width: 100%; position: relative;}
.custom_select .select_box {background: #fff;appearance: none;-moz-appearance: none;border: 1px solid #e5e5e5;color: #323030;cursor: pointer;display:block;font-family: 'Ubuntu', sans-serif;font-size: 13px;font-weight: 400;margin: 0;
outline: medium none;padding: 0 10px;width: 100%;height: 38px; line-height: 36px;}
.submit { display: block; border: 0; outline: none;width: 100%;background: #f07d00;font-size: 13px;text-transform: uppercase;color: #FFF;font-family: 'Ubuntu', sans-serif; height: 36px; width: 100%;cursor: pointer;}
.submit:hover {background: #d27005;}
.form_block .submit { width: 100%; margin: 0 auto;}
.form_block.w_100 .wpcf7-spinner { position: absolute; right: 0; top: 5px;}

.guide {padding-top: 30px; display: flex; flex-wrap: wrap;}
.guide a { display: block; width: 50%; min-width: 50%; position: relative; text-align: center;font-size: 12px;text-transform: uppercase; color: #000;font-weight: 500;}
.guide a span { display: block; text-align: center; margin-bottom: 15px; height: 35px;}

.bottom_right { width: 50%; min-width: 50%;background: url(../images/testimoniBg.jpg) no-repeat left top;background-size: cover; padding: 35px 40px;}
.bottom_right h2 {text-transform: uppercase;font-size: 18px;color: #fff;font-weight: 500;padding-bottom: 15px;margin-bottom: 20px;position: relative;}
.bottom_right h2:after {content: '';display: block;width: 95px;border-bottom: 1px solid #fff;position: absolute;left: 0;bottom: 0;}

.testimonials .item { width: 100%; display: flex;}
.testimo_img { width: 95px; min-width: 95px; height: 95px; border-radius: 50%; overflow: hidden; margin-right: 15px;}
.testimo_info { width: 100%;}
.testimonials .testimo_info em { display: block; font-size: 13px;color: #fff;font-weight: 300;display: block;line-height: 20px;padding-bottom: 15px;}
.testimonials .testimo_info em:before {content: '';display: block;width: 15px;height: 8px;background: url(../images/cote.png) no-repeat 0 0;padding-bottom: 10px;}
.testimonials .testimo_info em:after {content: '';display: block;width: 15px;height: 8px;background: url(../images/cote.png) no-repeat 100% 0;margin-left: 7px;}
.testimonials .testimo_info span { display: block; font-size: 12px;color: #FFF;font-weight: 500;}

.testimonials .owl-nav { position: absolute; bottom: -100px; right: 0;}
.testimonials .owl-nav .owl-prev span { color: #fff; font-size: 48px; width: 24px; height: 40px; line-height: 40px; display: block; position: relative;}
.testimonials .owl-nav .owl-next span { color: #fff; font-size: 48px; width: 24px; height: 40px; line-height: 40px; display: block;}
.testimonials .owl-nav .owl-prev span:after { content: ""; width: 2px; height: 22px; background-color: #fff; position: absolute; right: -1px; bottom: 5px;}

/* footer */
.main_footer {background: #000;padding: 60px 25px;width: 100%;}
.footer_inner { display: flex; flex-wrap: wrap}
.footer_block { width: 22%;}
.f_block_a { width: 15%;}
.f_block_c { width: 26%;}
.footer_block h3 {font-size: 14px;display: block;font-weight: 400;color: #c3c3c3;text-transform: uppercase;padding-bottom: 15px;}
.footer_block a h3 {padding-bottom: 0;}
.footer_block h3 a { display: block;color: #c3c3c3;}
.footer_block h4 {font-size: 13px;display: block;font-weight: 400;color: #c3c3c3;margin-bottom: 5px;}
.footer_block ul { margin-bottom: 15px;}
.footer_block ul li {font-size: 12px; display: block; color: #7c7a7a;}
.footer_block ul li + li { margin-top: 3px;}
.footer_block ul li a {display: block; color: #7c7a7a; line-height: 18px;}
.f_block_c h3 { position: relative; margin-bottom: 50px;}
.f_block_c h3:after { position: absolute;content: "";left: 0px;bottom: 0;background-color: #c3c3c3;background-color: #c3c3c3;height: 1px;width: 67px;}
.footer_block input {border: 0;border-bottom: 1px solid #272727;color: #818181;font-size: 13px;font-weight: 300;font-family: 'Ubuntu', sans-serif;background-color: transparent;padding: 7px 0;display: block;width: 100%; outline: none; margin-bottom: 10px;}
/* .footer_block .f_submit {border: none;width: 100%;background: #f07d00;font-size: 13px;text-transform: uppercase;color: #FFF;font-family: 'Ubuntu', sans-serif;padding: 10px 10px;width: 98%;max-width: 200px;margin: 30px 0 0 0;cursor: pointer;}
.footer_block .f_submit:hover {background: #d27005;} */


.f_submit .mailpoet_submit {border: none;width: 100%;background: #f07d00;font-size: 13px;text-transform: uppercase;color: #FFF;font-family: 'Ubuntu', sans-serif;padding: 10px 10px;width: 98%;max-width: 200px;margin: 30px 0 0 0;cursor: pointer; height: 36px !important;}
.f_submit .mailpoet_submit:hover {background: #d27005;}

.about_content { display: flex; height: 100%; overflow: hidden; position: relative;}
.about_left { width: 100%; background: url(../images/latestBg.jpg) repeat left top;}
.about_right {width: 41%; min-width: 41%; position: relative; height: 100%; overflow: hidden;}
.about_img img { width: 100%;}
.c_pdf { display:block; position: absolute; left: 50%; transform: translateX(-50%); bottom: 50px;color: #FFF;font-size: 11px;text-transform: uppercase;text-align: center;line-height: 16px; max-width: 125px;}
.c_pdf span {display: block; text-align: center; margin-bottom: 5px; transition: all 500ms;}
.c_pdf:hover span {transform: rotate3d(0, 1, 0, 180deg);}

.ab_info { height: 100%; padding: 35px 35px;position: relative;overflow-y: auto;scrollbar-color: #d5cfff transparent;scrollbar-width: thin;}
.ab_info::-webkit-scrollbar {width: 5px;}
.ab_info::-webkit-scrollbar-track {background-color: transparent;border-radius: 10px;}
.ab_info::-webkit-scrollbar-thumb {border-radius: 100px;background: #d5cfff;}

.ab_info h2 {font-size: 21px;text-transform: none;font-weight: 300; color: #fff; margin-bottom: 15px;}
.ab_info h2 strong { display: block; font-size: 24px;color: #f07b00;position: relative;margin-bottom: 20px;text-transform: uppercase;}
.ab_info h2 strong:after {content: '';width: 40px;border-bottom: 2px solid #FFF;position: absolute;left: 0;bottom: -10px;}
.ab_info h3 {font-size: 22px;color: #f07b00;margin-bottom: 15px;font-weight: 400;}
.ab_info p {font-size: 13px;color: #d5cfff;padding-bottom: 24px;font-weight: 400;line-height: 22px;}
.ab_info h4 {font-size: 18px;color: #f07b00;margin-bottom: 15px;font-weight: 400;}
.ab_info h4 em { font-size: 15px; display: block;}
.ab_info h4 span { font-size: 15px; display: block;}
.about_green { padding-top: 25px;border-bottom: 1px solid #5c5776;border-top: 1px solid #5c5776; margin-bottom: 15px;}
.about_green h4 {background: url(../images/green.png) left center no-repeat;color: #83c00e;padding: 0 0 0px 60px;}
.about_green h4 span {color: #f07b00;}
.ab_info h5 {font-size: 18px;color: #f07b00;margin-bottom: 15px;font-weight: 400;background: url(../images/tab.png) left center no-repeat;padding: 0 0 0 30px;}
.ab_info ul { margin-bottom: 15px;}
.ab_info ul li {color: #d5cfff;font-size: 14px;font-weight: 300;display: block;padding: 0px 0px 8px 15px;background: url(../images/bullet2.png) no-repeat left 7px;line-height: 18px;}
.knowmore {font-size: 13px;color: #d5cfff;font-weight: 400; display: inline-block;}
.knowmore:hover { text-decoration: underline;color: #f07b00;}

/* side form */
.side_form_container { position: absolute; right: 0; top: 0; bottom: 0; display: flex;align-items: flex-start;}
.q_btn { display: block;text-align: center;font-size: 12px;text-transform: uppercase;background-color: #4f4081; color: #fff; padding: 15px 15px 20px 15px; background-image: url(../images/query_icl.png); background-repeat: no-repeat; background-position: center bottom 10px; max-width: 75px; cursor: pointer; position: fixed;  top: 133px;  right: 0;}
.side_form {height: 100%;background: url(../images/latestBg.jpg) repeat left top; padding: 40px 35px; position: relative;margin-right: -320px; transition: all 500ms;}
.sf_cross { position: absolute; right: 0; top: 0; width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; cursor: pointer; transition: all 500ms;}
.sf_inn { width: 250px;}
.sf_inn h6 {color: #f07d00;font-size: 14px;font-weight: 400;padding-bottom: 20px;}
.sf_text_field { display: block; margin-bottom: 15px;background-color: rgba(0, 0, 0, 0.3); border: 0; outline: none; color: #fff;font-size: 14px;font-weight: 400; width: 100%; height: 40px; padding: 0 10px; line-height: 40px;}
textarea.sf_text_field { height: 80px; padding: 5px 10px; line-height: normal; resize: none;}
.side_form.active { margin: 0;}
.q_btn.active { background-image: url(../images/query_ic.png);}
/* side form */


/* promoters page */
.promoters_block { display: flex;}
.promoters_img { width: 112px; min-width: 112px; height: 112px; overflow: hidden; border-radius: 50%; margin-right: 30px;}
.promoters_info { width: 100%;}

/* asociates page */
.asst_row { display: flex; flex-wrap: wrap; margin: 0 -15px;}
.asst_block { padding: 0 15px; width: 25%; min-width: 25%; text-align: center;}
.asst_block figure { display: block; height: 170px; background-color: #fff;}
.asst_block figcaption {text-align: center;color: #d5cfff;min-height: 65px;padding: 10px;}

/* Ideal unique centre */
.prject_main { width: 100%; position: relative;}
.prject_main .main_banner_caprion { left: 37px; bottom: 30%;}
.prject_main .big_slider .owl-dots { bottom: 30%; right: 37px;}
.breadcrumb_sec {background: #220d42;}
.breadcrumb ul { display: flex; padding: 20px 40px;}
.breadcrumb ul li {color: #f07b00;font-size: 12px;}
.breadcrumb ul li a {color: #f1f1f1;background: url(../images/bullet.gif) no-repeat 100% 4px;padding-right: 12px;display: block;
margin-right: 5px;}
.b_bottom { /*position: absolute; left: 0; bottom: 0; right: 0; z-index: 2;*/ background-color: rgba(255,255,255,0.8); padding: 10px 37px;}
.b_bottom ul { display: flex; justify-content: space-around; align-items: center;}

.p_list { display: block;padding: 8px 0; font-size: 13px; text-transform: uppercase; color: #000; text-align: center; cursor: pointer;}
.m_detail { display: block; padding-top: 8px;font-size: 12px; text-align: center; text-transform: uppercase;color: #ff7800;width: 100%;
padding-bottom: 4px; font-weight: 400;}
.m_number { display: flex; width: 100%; justify-content: center; align-items: center; align-content: center; font-size: 13px; color: #000; padding-bottom: 8px;}
.m_number em { margin-right: 5px;}
.m_number a { color: #000;}
.enquery { display: flex; width: 100%; justify-content: center; align-items: center; align-content: center; font-size: 13px; color: #000; padding: 15px 0;}
.enquery em { margin-right: 10px; display: block; height: 26px;}


.details_section { background: url(../images/latestBg.jpg) repeat left top;padding: 50px 40px 30px 40px;}
.ds_inner { display: flex; flex-wrap: wrap;margin: 0 -40px;}
.ds_block { width: 100%; min-width: 100%;padding: 0 40px; border-right: 1px solid rgba(255,255,255,0.2);}
.ds_block_50 { width: 50%; min-width: 50%;}
.ds_block:last-child { border: 0;}
.ds_block h4 { color: #d5cfff;}
.ov_row { display: flex; margin: 0 -15px; flex-wrap: wrap;}
.ov_block { width: 25%; min-width: 25%; padding: 0 15px;}
.progress_gallery { display: flex; margin: 0 -5px; flex-wrap: wrap;}
.progress_gallery a { display: block; width: 25%; min-width: 25%; padding: 5px; position: relative;}
.progress_gallery a img { vertical-align: top;}
.progress_gallery a span { display: flex; justify-content: center; align-items: center; flex-direction: column; position: absolute; left: 5px; top: 5px; right: 5px; bottom: 5px; background-color: rgba(0,0,0,0.7); opacity: 0; transition: all 800ms;}
.progress_gallery a:hover span { opacity: 1;}
.gray_bg {background: #ecedea;}
.gray_bg .ab_info h2 strong:after {border-bottom: 2px solid #220d42;}
.gray_bg .ab_info p { color: #000;}
.gray_bg .ab_info ul li {color: #000;background: url(../images/bullet3.png) no-repeat left 7px;}

.details_outer .details_section:nth-child(odd) {background: #ecedea;}
.details_outer .details_section:nth-child(odd) .ab_info h2 strong:after {border-bottom: 2px solid #220d42;}
.details_outer .details_section:nth-child(odd) .ab_info p { color: #000;}
.details_outer .details_section:nth-child(odd) .ab_info ul li {color: #000;background: url(../images/bullet3.png) no-repeat left 7px;}
.details_outer .details_section:nth-child(odd) .ds_block h4 { color: #000;}

.tab_section { background: url(../images/bg.jpg) repeat left top; padding: 50px 40px;}
.tab-menu { width: 385px;min-width: 385px; position: relative;}
.tab-menu ul { margin:0; padding:0; list-style:none; }
.tab-menu ul li {  max-width: 100%; text-align:center; }
.tab-menu ul li a { color: #000; font-weight:700; padding:24px 26px; display:flex; align-items: center; text-decoration:none; transition:0.5s all; background: #ddddd7; border: 2px solid #ddddd7; border-bottom: 0; min-height: 67px;}
.tab-menu ul li:last-child a {border-bottom: 2px solid #ddddd7;}
.tab-menu ul li a span { margin-right: 10px;}
.tab-menu ul li a span img { vertical-align: top;}
.tab-menu ul li a:hover { color:#f07b00; text-decoration:none; }
.tab-menu ul li a.active { background:#ecedea; color:#f07b00; text-decoration:none; border-right: 0; }
.tab-box { display:none; }

.tab-teaser { width:100%; display: flex;}
.tab-main-box { background:#ecedea; padding: 20px 30px; border:2px solid #ddddd7; margin-left: -2px; width: 100%; }
.tab-box .ab_info h2 { margin-bottom: 35px;}
.tab-box .ab_info h2 strong:after { border-color: #220d42;}
.tab-box .ab_info { padding: 0;}
.ab_info ul.download li { padding: 0; margin-bottom: 15px; color: #000; font-size: 16px; font-weight: 400;}
.ab_info ul.download li a { display: inline-block; padding: 10px 20px;background-color:#f07b00; color: #fff; margin-left: 15px;}
.map_container iframe { width: 100%; vertical-align: top;    -webkit-filter: grayscale(100%);
  filter: grayscale(100%);}
.video_container iframe {width: 100%; vertical-align: top;}
.tab_info p { color: #000; font-size: 16px;}

.gallery_top { height: auto;}
.progress_gallery a > img { width: 100%;}
.progress_gallery a span img { margin-bottom: 10px;}
.progress_gallery a span {font-size: 14px;color: #FFF;}



.hfa .ds_block_50 {width: 33%;min-width: 33%;}
.priceon {display: flex;position: absolute;left: 25px;top: 25px;width: 95px;height: 95px;font-size: 12px;font-weight: 400;color: #FFF;text-align: center;z-index: 99999;background-color: #41236f;border-radius: 50%;justify-content: center;align-items: center;}
.priceon strong {font-weight: 400; position: relative;}
.priceon strong:after { content: ""; width: 25px; height: 1px; background-color: #fff; position: absolute; left: 50%; transform: translateX(-50%); bottom: -5px;}
.legacy_stamp {position: absolute; left: 120px; top: 58px; z-index: 2;}

.ds_inner .ab_info {height: auto;}

/* contact page */
.form_row { display: flex; flex-wrap: wrap; margin: 0 -15px;}
.modal_field{ width: 90%; margin: 0 auto; text-align: center;}
.col_50 { width: 50%; min-width: 50%; padding: 0 15px;}
.col_100 { width: 100%; min-width: 100%; padding: 0 15px;}
.text_box {border: 0; display: block;width: 100%;background-color: #2a2039;color: #d5cfff;font-size: 14px;font-weight: 400;outline: none;padding: 0 15px;box-sizing: border-box;height: 40px; line-height: 40px; margin-bottom: 16px;}
textarea.text_box { height: 100px; line-height: 18px; padding: 10px 15px; resize: none;}
.text_box::placeholder {color: #d5cfff;opacity: 1;}
.text_box:-ms-input-placeholder {color: #d5cfff;}
.text_box::-ms-input-placeholder {color: #d5cfff;}
.btn_hldr { display: flex; flex-wrap: wrap; justify-content: space-between; width: 100%; margin: auto;}
.input_btn {background: #f07d00;padding: 11px 40px;border: 0;border-radius: 0px; font-size: 16px;font-weight: 400;color: #000;text-transform: uppercase;cursor: pointer;outline: none;transition: all 500ms; width: 38%;}
.input_btn:hover {  background: #000;  color: #f07d00;}

/* custom select box */
.custom-select {width: 100%;position: relative;margin-bottom: 16px;}
.custom-select select {display: none;}
.selected_item {background-color: #2b223b;padding: 0 15px;cursor: pointer;z-index: 99;height: 40px;line-height: 40px;color: #d5cfff;  font-size: 14px;  font-weight: 400;}

.selected_item:after {content: "";position: absolute;right: 10px;top: 13px;transition: 0.5s;border: solid #d5cfff;border-width: 0 1px 1px 0;display: inline-block;padding: 4px;transform: rotate(45deg);-webkit-transform: rotate(45deg);}
.arrowanim.selected_item:after {transform: rotate(-135deg);-webkit-transform: rotate(-135deg);}
.option_item {background-color: #2b223b;padding: 8px 15px;color: #fff;border-top: 1px solid #674f8c;
cursor: pointer;color: #d5cfff;font-size: 14px;font-weight: 400;}
.option_item:hover {background: #674f8c;}
.all-items {position: absolute;top: 100%;left: 0;width: 100%;z-index: 100;}
.all-items-hide {display: none;}

/* custom select box */

.address_row { display: flex; flex-wrap: wrap;}
.addr_block {width: 50%; max-width: 300px;}
.cont_row { display: block;font-size: 13px;color: #d5cfff;padding-bottom: 6px;font-weight: 400;line-height: 22px;}
.cont_row a {color: #d5cfff;}
.cont_row a:hover { text-decoration: underline;}
.email_row a {color: #f07b00;}
.addr_map { height: 100%;}
.addr_map iframe { width: 100%; height: 100%;-webkit-filter: grayscale(100%); filter: grayscale(100%);}

.site_plan_img img {width: 100%;}


/* search result page */
.s_result_content {background: url(../images/latestBg.jpg) repeat left top; min-height: 100vh; display: flex;}
.result_left { width: 224px; min-width: 224px; background-color: rgba(0, 0, 0, 0.3); padding: 30px 20px;}
.result_left h4 {font-size: 22px;color: #f07b00;margin-bottom: 20px;font-weight: 400;}
.filter_list { margin-bottom: 40px;}
.filter_list li + li { margin-top: 15px;}
.filter_list li label {color: #d5cfff;font-size: 14px;font-weight: 300;padding-left: 10px;}
.filterBtn {background: #f07d00;padding: 11px 40px;border: 0;border-radius: 0px;font-size: 16px;font-weight: 400;color: #000;text-transform: uppercase;cursor: pointer;outline: none;transition: all 500ms;width: 100%;margin-bottom: 16px;}
.filterBtn:hover {background: #000;color: #f07d00;}

.result_right { width: 100%; padding: 30px 40px;}
.result_top {border-bottom: 1px solid #5c5979;padding-bottom: 25px;margin-bottom: 30px;}
.result_top h2 {display: block;font-size: 24px;color: #f07b00;position: relative;margin-bottom: 30px;text-transform: uppercase;}
.result_top h2:after {content: '';width: 40px;border-bottom: 2px solid #FFF;position: absolute;left: 0;bottom: -10px;}
.result_top .form_block {width: 25%;min-width: 25%;padding: 0 15px;margin-bottom: 0;}
.result_top .custom_select:after {right: 18px;}
.result_top .submit { height: 38px;}
.result_container h4 {font-size: 22px;color: #f07b00;margin-bottom: 20px;font-weight: 400;}
.result_row { display: flex; flex-wrap: wrap; margin: 0 -15px;}
.r_block { padding: 0 15px; width: 330px; min-width: 330px;}
.r_block_inn { background-color: #fff; padding: 20px; color: #000;}
.r_block_inn h5 {padding-bottom: 20px;font-size: 18px;font-weight: 400;}
.r_img { margin-bottom: 6px;}
.r_img img { width: 100%;}
.r_block_inn strong {display: block;padding-bottom: 15px;font-size: 14px;font-weight: 400;}
.r_block_inn p { margin-bottom: 30px;font-size: 14px;font-weight: 300;}
.r_block_inn p span { display: block;}
.t_tour {background: #f07d00;padding: 10px 20px;color: #FFF;font-size: 13px;display: inline-block;}
.t_tour:hover {background: #c56700;}
.r_block_inn { margin-bottom: 30px;}

.pagination { padding: 20px 0;border-top: 1px solid #5c5979;}
.pagination ul { display: flex; justify-content: center;}
.pagination ul li a { color: #fff; width: 40px; height: 30px; display: flex; justify-content: center; align-items: center; font-size: 18px; position: relative;}
.pagination ul li a:hover,.pagination ul li.active a { color: #f07d00;}
.pagination ul li:first-child a:after { content: "";border: solid #fff;border-width: 0 2px 2px 0;display: inline-block;padding: 5px;transform: rotate(135deg);-webkit-transform: rotate(135deg);}
.pagination ul li:last-child a:after { content: "";border: solid #fff;border-width: 0 2px 2px 0;display: inline-block;padding: 5px;
transform: rotate(-45deg);  -webkit-transform: rotate(-45deg);}

.mobile_copyright { display: none;}
.ds_inner .ab_info { overflow: visible;}

.ds_block p { font-size: 15px; font-weight: 300;}
.ds_block ul li {font-size: 15px; font-weight: 300;}
.ds_block h4 { font-size: 19px;}
.ds_block h4 span { padding-top: 3px; font-weight: 300;}
.app_online_form .input_btn { width: 100%;}



/* 30.06.22 */
.tab_info { overflow: visible;}
/* .carousel__slide .fancybox__thumb { background-image: none !important;} */
/* The Modal (background) */
.custom_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.custom_modal .modal-content {
  background-color: #403256;
  margin: 15% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 100%;
  max-width: 650px;
  position: relative;
}

/* The Close Button */
.custom_modal .close {float: right;font-size: 28px;display: flex;justify-content: center;border-radius: 50%;height: 30px;width: 30px;top: -4px;right: -4px;line-height: 27px;color: #d5cfff; padding: 0; font-weight: 400;}

.custom_modal .close:hover,
.custom_modal .close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.custom_modal .kc_captcha { display: block; margin-bottom: 16px;}

/* Blog page start */
.primary_secondary_container {display: flex; justify-content: space-between;}
.primary_secondary_container .site-main { width: 100%; padding: 135px 36px 30px 36px;background: url(../images/latestBg.jpg) repeat left top;} 
.primary_secondary_container .entry-header { width: 100%;}
.primary_secondary_container .entry-title {font-size: 24px;color: #f07b00;position: relative;margin-bottom: 20px;text-transform: uppercase; font-weight: 700;}
.primary_secondary_container .entry-meta {margin-bottom: 20px; color: #fff;}
.primary_secondary_container .entry-meta a { color: #fff;}
.primary_secondary_container .entry-title a {margin-bottom: 15px;font-size: 24px;color: #f07b00;position: relative;margin-bottom: 30px;text-transform: uppercase; font-weight: 700;}
.primary_secondary_container .entry-title a::after {content: '';width: 40px;border-bottom: 2px solid #f07b00;position: absolute;left: 0;bottom: -10px;}
.primary_secondary_container .entry-meta span { display: inline-block;font-size: 18px;color: #d5cfff;margin-bottom: 15px;font-weight: 400; margin-right: 5px;}
.primary_secondary_container .entry-meta span a { display: inline-block; color: #f07b00;}
.primary_secondary_container .site-main article { padding-bottom: 30px; margin-bottom: 30px; border-bottom: 1px solid rgba(255,255,255,0.2); display: flex; flex-wrap: wrap;}
.primary_secondary_container .site-main article .page_btn { margin-left: auto; margin-top: -40px;}
.primary_secondary_container .site-main article .post-thumbnail { display: block; width: 46%;}
.primary_secondary_container .site-main article .post-thumbnail img { width: 100%;}
.primary_secondary_container .site-main .entry-content { padding: 0 0 20px 30px;font-size: 14px;color: #d5cfff;font-weight: 400;line-height: 24px; width: 50%;}
.primary_secondary_container .site-main .entry-footer {font-size: 14px;color: #d5cfff;font-weight: 400;line-height: 24px;}
.primary_secondary_container .site-main .entry-footer a { display: inline-block;color: #f07b00;}

.primary_secondary_container .widget-area { width: 26%; min-width: 26%; padding: 190px 36px 30px 30px; background: #ecedea;}
.primary_secondary_container .widget-area .wp-block-search__label {display: none;}
.primary_secondary_container .widget-area .wp-block-search__input {border: 0; outline: none;background-color: #2a2039;color: #d5cfff;font-size: 14px;font-weight: 400;outline: none;}
.primary_secondary_container .widget-area .wp-block-search__button {background: #f07d00;border: 0;font-size: 16px;font-weight: 400;color: #000;text-transform: uppercase;cursor: pointer;outline: none;transition: all 500ms;}
.primary_secondary_container .widget-area .widget_search { display: none;}
.primary_secondary_container .widget-area .wp-block-search__inside-wrapper { margin-bottom: 20px;}
.primary_secondary_container .widget-area .widget_block { margin-bottom: 20px;}
.primary_secondary_container .widget-area .widget_block .wp-block-tag-cloud a { font-size: 14px !important; color: #000;}
.primary_secondary_container .widget-area .widget_block h2 {font-size: 22px;color: #f07b00;margin-bottom: 15px;font-weight: 400;}
.primary_secondary_container .widget-area .widget_block ul li + li {margin-top: 12px;}
.primary_secondary_container .widget-area .widget_block ul li a { color: #000; display: block; font-size: 14px;}
.primary_secondary_container .widget-area .widget_block .wp-block-latest-comments {color: #000; font-size: 14px;}

.primary_secondary_container .site-main .wp-pagenavi { font-size: 18px; color: #fff; text-align: center; font-weight: 700;}
.primary_secondary_container .site-main .wp-pagenavi span { display: inline-block; padding: 10px 15px;}
.primary_secondary_container .site-main .wp-pagenavi .current {color: #f07b00;}
.primary_secondary_container .site-main .wp-pagenavi a { display: inline-block; padding: 10px 15px; color: #fff;}
.primary_secondary_container .site-main .wp-pagenavi a:hover {color: #f07b00;}
.entry-content .read_more { text-align: right; padding-top: 10px;}
.entry-content .read_more .more-link, .rb_content .more-link {background: #f07d00;padding: 11px 40px;border: 0;border-radius: 0px;font-size: 16px;font-weight: 400;color: #000;text-transform: uppercase;cursor: pointer;outline: none;transition: all 500ms;display: inline-block;}
.entry-content .read_more .more-link:hover, .rb_content .more-link:hover {color: #f07d00;background-color: #000;}

/* blog detail */
.related_blog { width: 100%; padding: 30px 0;}
.related_blog h2 {font-size: 22px;color: #f07b00;margin-bottom: 15px;font-weight: 400;}
.single-post .primary_secondary_container .site-main article .post-thumbnail {width: 100%;}
.single-post .primary_secondary_container .site-main .entry-content {padding: 30px 0 0 0;width: 100%;}
.single-post .primary_secondary_container hr {background: transparent;border: 0;border-bottom: 1px solid rgba(255,255,255,0.2);}
.single-post .primary_secondary_container .h_social {margin-left: 0;}
.single-post .primary_secondary_container .h_social li {padding: 0 15px;}
.single-post .primary_secondary_container .h_social li:first-child { padding-left: 0;}
.single-post .primary_secondary_container .widget.widget_block h2 {font-size: 22px;color: #f07b00;margin-bottom: 15px;font-weight: 400;}
.single-post .primary_secondary_container .widget_tag_cloud a { color: #fff; display: inline-block; font-size: 16px !important;}
.rb_box {padding: 8px;border: 1px solid rgba(255,255,255,0.4);}
.rb_img {margin-bottom: 12px;}
.rb_content h4 { margin-bottom: 3px;}
.rb_content h4 a { display: block; color: #fff; font-size: 16px; font-weight: 700;}
.rb_content h5 { margin-bottom: 5px;color: #dfdfdf; font-size: 13px; font-weight: 300;}
.rb_content h5 a { display: inline-block; color: #dfdfdf; font-size: 13px; font-weight: 300;}
.rb_content p {color: #d5cfff; font-size: 14px; margin-bottom: 12px; font-weight: 300;}
.related_blog .owl-carousel .owl-nav button.owl-next, .related_blog .owl-carousel .owl-nav button.owl-prev {font-size: 74px;color: #fff;}
.related_blog .owl-carousel .owl-nav button.owl-next {position: absolute;right: -18px;top: 33%;}
.related_blog .owl-carousel .owl-nav button.owl-prev {position: absolute;left: -18px;top: 33%;}
.rb_content .more-link { display: block; margin: 10px 0 0 0; max-width: 175px;}
.rb_content br { display: none;}




/* csr page */
.csr_top { text-align: center; margin-bottom: 30px;}
.csr_top h2 strong { margin-bottom: 35px;}
.csr_top h2 strong:after { left: 50%; transform: translateX(-50%);}
.table_outer h2 { font-size: 26px;}
.table_outer { max-width: 900px; width: 100%; margin: 0 auto;}
.table_outer table { width: 100%;border-collapse: collapse;}
.table_outer table td, th { border: 1px solid #6b6593; font-size: 16px; color: #d5cfff; padding: 12px 15px; text-align: left;}
.table_outer table th {font-weight: 600;}
.csr_list { margin-bottom: 18px;}
.csr_list span { display: block; margin-bottom: 6px;font-size: 13px;color: #d5cfff;font-weight: 400;line-height: 22px;}
.csr_list span strong { display: inline-block; font-weight: 600; width: 270px;}


/* 07.09.22 */
/* home search */
.home .main { width: 100%; min-width: 100%; aspect-ratio: 217/130;}
/*.content_top { height: auto;}*/
.search_section .bottom_left {background: rgb(34, 13, 66);width: 100%;min-width: 100%;}
.search_section .bottom_left h2 {color: #fff;}
.search_section .bottom_left h2:after {  border-color: #fff;}
.form_block label { display: block; margin-bottom: 8px; color: #d5cfff;}
.search_section .form_block { width: 100%; min-width: 100%;}
.search_section .submit { margin-top: 28px;}
.search_section .form_row {margin: 0 -10px;}

/* projects_section */
.projects_section { padding: 35px 40px;} 
.projests_row {display: flex; margin: 0 -15px; flex-wrap: wrap;}
.project_left { width: 75%; min-width: 75%; padding: 0 15px;}
.project_right { width: 25%; min-width: 25%; padding: 0 15px;}
.pl_row {display: flex; margin: 0 -15px; flex-wrap: wrap;}
.pro_block { width: 33.3%; min-width: 33.3%; padding: 0 15px;}
.project_right .pro_block { width: 100%; min-width: 100%; padding: 0;}
.pro_block a { display: block; background-color: rgba(34, 13, 66, 1); position: relative;}
.pro_block a img { width: 100%; opacity: 0.4; transition: all 500ms;}
.pro_block a .pro_name { position: absolute; width: 100%; left: 0; top: 50%; transform:translateY(-50%); display: block; text-align: center; color: #dfdbfd; font-weight: 500; opacity: 1; font-size: 20px; transition: all 500ms;}
.pro_block a:hover .pro_name { opacity: 0;}
.pro_block a:hover img { opacity: 1;}
.projects_section h2 {text-transform: uppercase;font-size: 18px;color: #41236f;font-weight: 500;padding-bottom: 15px;margin-bottom: 20px;position: relative;}
.projects_section h2:after {content: '';display: block;width: 95px;border-bottom: 1px solid #41236f;position: absolute;left: 0;bottom: 0;}

.home_about { padding: 35px 40px;}
.h_ab_row {display: flex; margin: 0 -15px; flex-wrap: wrap;}
.h_ab_block { width: 50%; min-width: 50%; padding: 0 15px;}
.home_ab_img img { width: 100%;}

.home_about h2 {text-transform: uppercase;font-size: 18px;color: #41236f;font-weight: 500;padding-bottom: 15px;margin-bottom: 20px;position: relative;}
.home_about h2:after {content: '';display: block;width: 95px;border-bottom: 1px solid #41236f;position: absolute;left: 0;bottom: 0;}
.h_ab_block .pro_block { width: 100%; min-width: 100%; padding: 0;}
.h_ab_block .pro_block a img { width: 100%;}
.home_ab_block {line-height: 28px; color: #000;}
.home_ab_block p { margin-bottom: 30px;}
.page_btn {background: #f07d00;padding: 11px 40px;border: 0;border-radius: 0px;font-size: 16px;font-weight: 400;color: #000;text-transform: uppercase;cursor: pointer;outline: none;transition: all 500ms;display: inline-block;}
.page_btn:hover { color: #f07d00; background-color: #000;}

.form_sec .text_box { background-color: #fff;border: 1px solid #e5e5e5; color: #000; height: 38px; line-height: 36px;}
.form_sec .text_box::placeholder {color: #323030;  opacity: 1;}
.form_sec .text_box:-ms-input-placeholder {color: #323030;}
.form_sec .text_box::-ms-input-placeholder {color: #323030;}
.form_block {width: 33%;min-width: 33%;}
.form_block_100 {width: 100%;min-width: 100%;}
.form_sec textarea.text_box { height: 100px; line-height: 20px;}


.resources {  padding: 35px 40px; position: relative; z-index: 2;}
.resources:before { content: ""; width: 100%; height: 85px; background-color: rgb(34, 13, 66); position: absolute; left: 0;top: 0; z-index: -1;}
/* .resources h2 {text-transform: uppercase;font-size: 18px;color: #41236f;font-weight: 500;padding-bottom: 15px;margin-bottom: 20px;position: relative;display: block;text-align: center;}
.resources h2:after {content: '';display: block;width: 95px;border-bottom: 1px solid #41236f;position: absolute;left: 50%;transform: translateX(-50%);bottom: 0;} */
.tab_btn_outer { display: flex; justify-content: center;}
.tab_btn_outer li { margin: 0 10px;}
.tab_btn_outer li a { display: block;color: #000;font-weight: 700;padding: 15px 26px;transition: 0.5s all;background: #f07d00;border: 2px solid #f07d00;border-bottom: 0;}
.tab_btn_outer li a.active { background-color: #fff;}
.tab_content {border-top: 1px solid #f07d00; padding: 30px 20px; display: none;}
.tab_row { display: flex; flex-wrap: wrap; margin: 0 -15px;}
.tab_block { padding: 0 15px; width: 25%; min-width: 25%;}
.guide_block { position: relative;}
.guide_block img { opacity: 1; transition: all 500ms;}
.guide_block a { position: absolute; left: 0; top: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center; opacity: 0; font-size: 20px; font-weight: 700; color: #f07d00;}
.guide_block:hover img { opacity: 0.2;}
.guide_block:hover a { opacity: 1;}
.tab_container {margin-top: -1px;}
.blog_img { margin-bottom: 15px;}
.blog_img img { width: 100%;}
.blog_cont h3 {margin-bottom: 6px;}
.blog_cont h3 a { display: block; font-size: 18px; font-weight: 500; color: #000; }
.b_date { display: block; color: #afafaf; margin-bottom: 10px;}
.b_date a { display: inline-block; color: #afafaf;}
.blog_cont p { margin-bottom: 20px; font-weight: 300;color: #4e4e4e;line-height: 22px;}
.b_block_outer { padding: 0 15px; width: 33.3%; min-width: 33.3%;}
.blog_block { padding: 15px; border: 1px solid #ddd;margin-bottom: 20px;}

/* 09.09.22 */
/* testimonial page */
.testimonial_container { padding: 30px 40px;}
.testimo_row { display: flex; flex-wrap: wrap; align-items: center;}
.testimonial_img { width: 50%; min-width: 50%; position: relative;}
.play { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: 60px; color: #f07b00; cursor: pointer;}
.play:hover { color: #220d42;}
.testimonial_info { width: 50%; min-width: 50%; padding: 40px;}
.testimonial_info h2 {font-size: 21px;text-transform: none;font-weight: 300;color: #fff;margin-bottom: 15px;}
.testimonial_info h2 strong {display: block;font-size: 24px;color: #f07b00;position: relative;margin-bottom: 20px;text-transform: uppercase;}
.testimonial_info h2 strong:after {content: '';width: 40px;border-bottom: 2px solid #f07b00;
position: absolute;left: 0;bottom: -10px;}
.testimonial_info p {font-size: 13px;color: #000;padding-bottom: 20px;font-weight: 400;line-height: 22px;}
.testimonial_info h6 { font-weight: 700; font-size: 20px; margin-bottom: 20px;color: #000;}
.testimonial_info .input_btn { display: inline-block; width: auto; margin: 0;}
.testimo_row:nth-child(even) .testimonial_info { order: -1;}

/* custom modal */
.custom_modal_outer {position: fixed; padding: 30px 0; top: 0; left: 0; right: 0; bottom: 0; z-index: 999; overflow-y: auto;background-color: rgba(0,0,0,0.7); display: none;}
.overlay { position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 1;}
.custommodal {margin: 0 auto;background: #000;border: 3px solid #fff; width: 100%; max-width: 800px;position: relative; z-index: 2;}
.modal_body iframe { width: 100%; height: 500px; vertical-align: top;}
.modal_cross {position: absolute;right: -10px;top: -10px;font-size: 35px;color: #fff;opacity: 1;cursor: pointer;}
.modal_cross:hover { color: #f07b00;}
.show_modal { overflow: hidden;}

/* gallery */
.gallery_container { padding: 35px 40px;}
.gallery_inner {width: 100%; max-width: 891px; margin: 0 auto;}
.top_gallery { max-width: 640px; margin: 0 auto 30px auto; text-align: center; color: #000;}
.gallery_box { margin-bottom: 30px;} 
.gallery_box h2 {font-size: 24px;color: #f07b00;position: relative; margin-bottom: 30px;text-transform: uppercase; font-weight: 700; text-align: center;}
.gallery_box h2:after {content: '';width: 40px;border-bottom: 2px solid #f07b00;position: absolute;left: 50%;transform: translateX(-50%);bottom: -10px;}
.gallery_box ul { display: flex; flex-wrap: wrap;}
.gallery_box ul li { width: 33.3%; min-width: 33.3%;}
.gallery_box ul li a { display: block; position: relative; overflow: hidden;}
.gallery_box ul li a img { transform: scale(1); transition: all 500ms; vertical-align: top;}
.gallery_box ul li a span { display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; opacity: 0; display: flex; align-items: center; justify-content: center; text-align: center; font-size: 20px; font-weight: 700; color: #fff; background-color: rgba(240,123,0,0.8); transition: all 500ms;}
.gallery_box ul li a:hover img { transform: scale(1.2);}
.gallery_box ul li a:hover span { opacity: 1;}




.bnr_form_section{ width: 100%;position: relative;background: #fff;clear: both;padding: 0; margin:15px 0 0 0;}
.bnr_frm_inn {padding: 35px;background: #fdfdfd;text-align: center;width: 100%;border-radius: 10px;}
.bnr_frm_inn h3 {color: #41236f;font-size: 32px;margin-bottom: 30px;font-weight: 800;}
.form-control {width: 100%;outline: none;border-radius: 0;border-bottom: 1px solid #41236f !important;
border: none;padding: 0 0;font-size: 14px;-webkit-box-shadow: none;box-shadow: none;background: none;min-height: 54px;}
.two_fld2{ display:flex;}
.two_fld2 .form-group {width: 48%;margin: 0px 20px 30px;}
input.sbmt_btn {width: 100%;max-width: 250px;border: none;height: 55px;background: #41236f;color: #fff;font-size: 20px;margin-top: 0px;font-weight: 600;border-radius: 5px; cursor: pointer;}
.form-group {margin-bottom: 2rem;}
.form-control::-webkit-input-placeholder { /* Edge */font-weight: 700;}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */font-weight: 700;}
.form-control::placeholder {font-weight: 700;}
.form-group option:first {font-weight: 700;}
 textarea.form-control {max-height: 54px;}

 /* Project */
img { vertical-align: top;}
.search_section_inner .bottom_left {background: #ecedea;}
.search_section_inner .form_block label {color: #000;}
.project_container { padding: 35px 40px;}
.project_row { margin: 0 -15px; display: flex; flex-wrap: wrap;}
.col_4 { width: 33.333%; min-width: 33.333%; padding: 0 15px;}
.project_block {border: 1px solid #ecedea;padding: 10px; margin-bottom: 30px;}
.project_img { position: relative; overflow: hidden;}
.p_img img { transform: scale(1); transition: all 500ms;}
.project_block:hover .p_img img { transform: scale(1.2);}
.project_content { padding: 15px;}
.p_type { position: absolute; left: 10px; top: 10px;background: #f07d00; color: #fff; border-radius: 5px; padding: 10px 15px; font-size: 14px;}
.p_type:hover { background: rgb(34, 13, 66);}
.completed { display: block; position: absolute; right: 0; bottom: 0;background: rgb(34, 13, 66); color: #fff;padding: 10px 15px; font-size: 14px;}
.share { display: flex; align-items: center; justify-content: center; position: absolute; right: 10px; top: 10px;background-color: rgba(34, 13, 66, 0.6);color: #fff; width: 40px; height: 40px; border-radius: 50%;font-size: 20px;}
.share:hover { background-color: rgba(34, 13, 66, 1);}
.project_content h4 { margin-bottom: 10px; font-size: 18px; font-weight: 700;}
.project_content h4 a { color: #000;}
.project_content p { margin-bottom: 10px; font-weight: 300;}
.project_content p span { margin-right: 10px;}

#main_slider .owl-item img{height:auto;}


.thank_body {width: 100%;overflow: hidden;clear: both;padding-top: 115px;}
.thank_you{ background: #efefee;}
.thnak_h_dr{background: #001cbd;padding: 20px 0;overflow: hidden;}
.thnk_b_inr {max-width: 700px;
margin: 90px auto;
width: 100%;
text-align: center;
padding: 75px 45px;
background: #41236f;
border: 4px solid #f07d00;
border-radius: 5px;}
.thnk_b_inr h3 {font-family: 'Ubuntu', sans-serif; color: #fff;font-size: 60px;line-height: 1.1;letter-spacing: 1px;font-weight: 700;}
.thnk_b_inr p {color: #fff;font-size: 28px;line-height: 1.3;margin-top: 24px;}
.project_img a:nth-of-type(1) {position: absolute;left: 10px;top: 10px;background: #f07d00;color: #fff;border-radius: 5px;padding: 10px 15px;font-size: 14px;}
.project_img a:nth-of-type(1):hover {background: rgb(34, 13, 66);}
.pr_btn_hldr {text-align: right; padding-top: 10px;}
.p_detail {background: #f07d00; color: #fff; border-radius: 5px; padding: 10px 15px; font-size: 14px; }
.p_detail:hover { background: rgb(34, 13, 66);}
/*12.10.22*/ 
.featured_post_related {
    display: flex;
    padding: 0 30px;
}
.featured_post_related .item {
	border: 1px solid #ecedea;
	padding: 10px;
	margin: 30px 15px;
}
.featured_post_related .item p {
	color: rgb(123, 134, 153);
	font-size: 16px;
}
.featured_post_related .item h4 a, .featured_post_related .item h4{
	font-size: 18px;
	color: #000;
	font-weight: 700;
}
.featured_post_related .item h5 {
    margin-top: 10px;
}
.featured_post_related .item h5 a, .featured_post_related .item h5 {
	color: rgb(123, 134, 153);
	font-size: 13px;
}
.featured_post_related .item .read_more {
	text-align: right;
}
.featured_post_related .item .more-link{
	background: #f07d00;
	color: #fff;
	border-radius: 5px;
	padding: 10px 15px;
	font-size: 14px;
	max-width:fit-content;
	display:inline-block;
}
.featured_post_related .item .more-link:hover {
	background: rgb(34, 13, 66);
}
.featured_post_related .item .rb_img {
	overflow: hidden;
	position: relative;
}
.featured_post_related .item .rb_img a {
	display: block;
	margin: 0;
}
.featured_post_related .item .rb_img img {
	transform: scale(1);
	transition: all 500ms;
}
.featured_post_related .item:hover .rb_img img{
	transform: scale(1.2);
}
.custom_select:before {
    content: "";
    display: block;
    height: 36px;
    pointer-events: none;
    position: absolute;
    right: 11px;
    top: 1px;
    width: 24px;
}
.custom_select:after {
    color: #3a3a3a;
    content: url(../images/select-ic.png);
    font: 14px "Consolas",monospace;
    padding: 0 4px 4px;
    pointer-events: none;
    position: absolute;
    background-color: #fff;
    right: 14px;
    top: 9px;
}

/* 09-01-23 */
.home .content_top {height: auto;overflow: visible;}
.home #main_slider .owl-item img {height: auto; aspect-ratio: 1536 / 920;}

.home .main_header { background-color: rgba(255,255,255,0.8);}
.home .top { background-color: rgba(255,255,255,0.8);}
.home .header_nav { background-color: transparent;}
.home .main_content {padding-top: 0;}

/* .p_img {height: 230px;display: flex;align-items: flex-start;justify-content: center;}
.p_img img {height: 100%;width: auto;max-width: inherit;} */
.project_content p {height: 72px;overflow: hidden;}

.thank_you_container {
  text-align: center;
  width: 100%;
  padding-top: 100px;
}
.thank_you_container h2 {
  color: #000;
}
.thank_you_container h2 strong:after {
  left: 50%;
  transform: translateX(-50%);
  border-color: #f07b00;
}

.custom_search { border-radius: 5px; overflow: hidden; display: flex;}
#parent_selection {background-color: #f07d00;border:0;color: #000;height: 50px; padding: 0 15px; outline: none; width: 33.3%; font-size: 17px;}
#child_selection {background-color: #fff;border: 0;color: #000;height: 50px; padding: 0 15px; outline: none; width: 33.3%;font-size: 17px; margin: 0 1%;}
#child_selection_sec {background-color: #fff;border: 0;color: #000;height: 50px; padding: 0 15px; outline: none; width: 33.3%;  font-size: 17px;}

.search_section_inner .form_block {width: 50%;min-width: 50%;}
/* .search_section_inner .submit {margin-top: 0;}
.search_section_inner .form_block { margin: 0;} */

.blog_list_container { padding: 35px 40px;}
.blog_list_container .page_row { display: flex; margin: 0 -15px;}
.primary_secondary_container p a { color: #f07d00;}

.single-post .entry-content p + p { margin-top: 15px;}